* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(../images/main-qimg-22fa9e0f1f927a6a080ed74995910605.png);
  background-size: cover;
}
h1 {
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
.block-section {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  grid-gap: 20px;
  justify-content: center;

  background-size: cover;
}

.block-lessons {
  background-position: center;
  cursor: pointer;
  justify-content: center;
  display: flex;
  align-items: center;
  height: 100px;
  border: 1px solid;
  transition: 0.5s all ease-in-out;
  background-image: url(../images/React-JS.png);
  background-size: cover;
  &:hover {
    transform: rotateY(30deg);
    opacity: 0.7;
  }
  h3 {
    color: white;
    text-transform: uppercase;
  }
}
